.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $red;
  border-radius: 4px;
  font-weight: 600;
}

.button-h38 {
  height: 38px;
  padding: 0 20px;
  font-size: 14px;
}
